.square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: darkgray;
}
    
.relative-box {
    position: relative;
    background-color: navy;
    top: 10px;
    /* 오른쪽으로 10px만큼 움직임 */
    left: 10px; 
}
.absolute-box {
    position: absolute;
    background-color: chocolate;
    top: 30px;
    left: 30px;
}
.fixed {
    /* 위치 고정시키기 */
    position: fixed;
    background-color: coral;
    bottom: 0px;
    left: 0px;
    height: 20px;
}

.z-index-1 {
    position: absolute;
    background-color: brown;
    top: 300px;
    left: 300px;
    z-index: 4;
}
.z-index-2 {
    position: absolute;
    background-color: rgb(44, 102, 211);
    top: 350px;
    left: 350px;
    /* 다른 값보다 z-index 값이 크기 때문에 가장 상위에 도형이 보여짐 */
    z-index: 5;
}
.z-index-3 {
    position: absolute;
    background-color: rgb(23, 167, 143);
    top: 400px;
    left: 400px;
    z-index: 3;
}