{% extends 'base.html' %} {% load static %} {% block title %}MY PAGE{% endblock %} {% block body %}
<div class="container">
    <div class="card position-fixed" style="width: 18rem;">
        <img src="{% static 'detail/images/sss.png' %}" class="card-img-top rounded-circle " alt="chelsea">
        <div class="card-body">
            <h5 class="card-title">Chelseashin</h5>
            <h6 class="card-subtitle mb-2 text-muted">chaewonshin95@gmail.com</h6>
            <p class="card-text">Look how they shine for you</p>
            <a href="#" class="card-link">Logout</a>
        </div>
    </div>
    
    <div class="float-right">
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/snoopy2.png' %}" class="card-img-top" alt="snoopy2">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Where do you want to go?</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/snoopy2.png' %}" class="card-img-top" alt="snoopy2">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Where do you want to go?</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/snoopy2.png' %}" class="card-img-top" alt="snoopy2">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Where do you want to go?</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
